// myaccount snippet

section#pages{
   .main-container{
      width: 900px;
      .content-container{
         article{
            background: rgba(240,240,240,1);
            .content-wrapper{
               header.entry-header{
                  border-bottom: none;
                  display: block;
                  h2{
                     text-align: center;
                     font-size: 3em;
                     &hover{
                        color: black;
                     }
                  }
               }
               .entry-content{
                  padding: 0 20px;
                  .woocommerce{
                     // display: flex;
                     // flex-direction: row;
                     // align-items: stretch;
                     // MYACCOUNT tab content
                     .woocommerce-MyAccount-content{
                        // background: white;
                        border: rgb(231, 231, 231);
                        border-radius: 4px;
                        padding: 15px;
                        // box-shadow: inset 0px 0px 5px 0px rgba(240,240,240,1);
                        p{
                           font-size: 16px;
                           font-weight: bolder;
                           color: $black;
                           margin: 0;
                        }
                     }

                  }
               }
               footer.entry-footer{
                  border-top: none;
               }
            }
         }
      }
   }
}

// navigation
nav.woocommerce-MyAccount-navigation{
   ul{
      list-style: none;
      width: 200px;
      padding: 15px 0px;
      margin: 0px;
      li{
         border-bottom: 1px solid rgb(231, 230, 230);
         padding: 10px 10px;
         border-radius: 3px;
         text-align: right;
         &:last-child{
            border-bottom: none;
         }
         &:hover{
            background: rgb(237, 235, 235);
            border-radius: 3px;
         }
         &.is-active{
            background: white;
         }
         a{
            color: rgb(79, 79, 79);
            font-size: 14px;
            line-height: 1.5em;
            font-weight: bolder;
            padding-right: 10px;
            // text-align: left;
            &:hover{
               color: rgb(79, 79, 79);
            }
            &:focus{
               color: rgb(79, 79, 79);
            }
         }
      }
   }
}

// myaccount global styles
.header > h3{
   text-align: center;
}

.u-column1.col-1,
.u-column2.col-2{
   margin-left: 0;
   margin-right: 0;
   margin-top: 20px;
   width: 100%;
   float: none !important;
   @media(max-width: 700px){
      width: 100% !important;
   }
}

// button
.woocommerce input.button{
   background: $orange;
}



// adresses
.addresses{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
   .woocommerce-Address{
      header.woocommerce-Address-title.title{
         padding: 0px;
         margin: 0px;
         border-bottom: none;
         h3{
            font-weight: bold;
            margin-bottom: 20px;
         }
         a.edit{
            color: $orange;
            float: none;
            font-size: 12px;
            font-weight: bold;
            display: block;
            &:hover{
               color: $black;
            }
         }
      }
      address{
         font-weight: bold;
         font-size: 14px;
         font-style: normal;
      }
   }
}
u-columns.woocommerce-Addresses col2-set{

}




dt.variation-Dtum{
   display: none;
}

td.category{
   p{
      margin-bottom: 0px;
   }
}
td.product-name{
   font-size: 12px;
}
td.datum{
   padding: 23px 6px;
   dl.variation{
      margin: 6px 0px;
      min-width: 80px;
      dd.variation-Dtum{
         // padding: 23px 6px;
         margin-bottom: 0px;
         p{
            padding: 0px;
            margin-bottom: 0px;
            font-size: 12px;
         }
      }

   }
}
.woocommerce td.product-quantity{
   min-width: 55px;
   max-width: 60px;
}
.entry-content th{
   font-size: 12px;
}
td.product-price > span{
   font-size: 12px;
}

td.product-subtotal > span{
   font-size: 12px;
   font-weight: bold;
}


// my account
h2.entry-title{
   color: black;
   a{
      color: black;
   }
}

.woocommerce-MyAccount-content > p > a{
   // color: $orange;
}

.u-column1 > header > a,
.u-column2 > header > a{
   color: $orange;
}

.woocommerce-LostPassword > a{
   color: $orange;
   &:hover{
      color: #5f5f5f;
   }
}


// login / registration tab


// checkout form
#wc_order_field_146_field{
   display: none;
}
