// ---------------------------------------
// globals
// ---------------------------------------

#temp-widget-cont{
   position: fixed;
   right: 0px;
   top: 100px;
   z-index: 100;
   background: white;
   // border: 1px solid $bones-pink;
   opacity: 0.8;
   padding: 10px;
   max-width: 230px;
   border-radius: 5px 0  0 5px;
   box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.19);
   border-right: none;
}


body{
   background: white;
   // background-image: url(img/wood-bg.jpg);
   // background-position: top center;
   // background-repeat: repeat-y;
   // background-size: cover;
   // max-width: 1800px;
   // display: table;
   width: 100%;
   min-width: 100%;
}

a{
   color: $orange;
}

#page.site{
   max-width: 1920px;
   width: 100%;
   background: black;
   // border: 1px solid yellow;
   margin: 0 auto;
   background-image: url(img/wood-new-1920x2345.jpg);
   background-position: bottom center;
   background-repeat: no-repeat;
   background-size: auto;
}

section{
   // border: 1px dashed blue;
   margin: 0 auto;
}

.bg-white{
   background: white;
}
.bg-light-blue{
   background: rgb(177, 255, 255);
}


.fullwidth{
   width: 100%;
   max-width: 1920px;
}

.main-container{
   width: 96%;
   max-width: 1100px;
   display: table;
   margin: 0 auto;
   padding: 0;
   // border: 1px dashed pink;
}

#content.site-content{
   margin: 0px;
}


.guide{
   // border: 1px dashed red;
}

.flex--row-sbw{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flex--column{
   display: flex;
   flex-direction: column;
}

.flex--align-center{
   align-items: center;
}

// ---------------------------------------
// header
// ---------------------------------------

section#slider-cont{
   background-image: url(./img/head-img.jpg);
   background-repeat: no-repeat;
   background-position: bottom center;
   background-size: cover;
   max-height: 613px;
   height: 613px;
   @media(max-width: 768px){
      height: 400px;
   }
   .main-container{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 100%;
      @media(max-width: 768px){
         justify-content: center;
      }
      .izmuvek-logo{
         width: 302px;
         height: 129px;
         margin-bottom: 20px;
         @media(max-width: 768px){
            width: 216px;
            height: 92px;;
         }
         a{
            img{
               width: 100%;
               height: auto;
            }
         }
      }
   }
}

div.sticky-container{
   header#masthead{
      z-index: 99;
      background: rgba(98, 12, 12, 0.8);
      min-height: 100px;
      padding: 15px 0px;
      display: block;
      @media (max-width: 500px){
         padding: 0px;
      }
      .main-container{
         min-height: auto;
         height: auto;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         @media(max-width: 500px){
            height: 100px;
         }
      }
   }
}

header#masthead2{
   z-index: 99;
   background: rgba(0,0,0,0.8);
   min-height: 100px;
   padding: 15px 0px;
   display: block;
   @media (max-width: 500px){
      padding: 0px;
   }
   .main-container{
      min-height: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media(max-width: 500px){
         height: 100px;
      }
   }
}




.shop-elements{
   display: flex;
   flex-direction: row;
   @media (max-width: 500px){
      flex-direction: column;
      justify-content: space-around !important;
      align-items: flex-end;
      height: 100px;
   }
   a{
      margin: auto 20px;
   }
}

button.mobilmenu{
   color: white;
   text-transform: uppercase;
   font-size: 20px;
}

.toggler-cont{
   @media (min-width: 768px){
      display: none;
   }
   @media (max-width: 768px){
      display: none;
   }
   account-toggler{
      margin: auto 20px;
      position: relative;
         display: none;
      a{
         button.account-cont{
            i.fa.fa-info-circle{
               color: $bones-pink;
               width: 30px;
               height: 30px;
               vertical-align: center;
               text-align: center;
               font-size: 30px;
               ::before{
                  content: "\f05a";
               }
            }
         }
      }
      .callout{
         position: absolute;
         width: 250px;
         left: -210px;
         top: 50px;
         a{
            font-size: 14px;
            margin-left: 0px;
         }
      }
   }
}

.shop-elements{
   @media (max-width: 500px){
      flex-direction: column;
      align-items: space-between;
      justify-content: flex-end;
   }
   .account-elements{
      display: flex;
      align-items: center;
      margin-right: 20px;
      @media (max-width: 500px){
         flex-direction: row;;
         align-items: space-between;
         justify-content: flex-end;
         margin-right: 0px;
      }
      a{
         font-size: 14px;
         margin: 0px;
         padding: 0 10px;
         color: white;
         flex-shrink: 1;
         flex-grow: 0;
         flex-basis: auto;
         &:hover{
            color: $orange;
         }
         @media (max-width: 500px){
            font-size: 18px;
         }
      }
   }
}

// ---------------------------------------
// footer
// ---------------------------------------
footer#colophon.site-footer{
   // background: rgb(27, 23, 23);
   min-height: 150px;
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   .main-container{
      // background:black;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
         h2{
            font-size: 25px;
            color: white;
            line-height: 1.25em;
         }
      }
      p{
         color: white;
      }
      .column-3{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: stretch;
         margin: 40px auto;
         @media(max-width: 500px){
            flex-direction: column;
            justify-content: center;
         }
         .item{
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;;
            align-items: center;
            padding: 0 15px;
            h4{
            font-family: 'MilkShake';
            font-size: 28px;
            display: block;
            text-align: left;
            letter-spacing: 1.1px;
            line-height: 45px;
            color: white;
            border-bottom: 1px solid gray;
            width: 100%;
            }
            p{
               color: white;
               width: 100%;
               }
            a{
               width: 100%;
               color: $orange;
               img.facebook{
                  display: block;
                  text-align: left;
                  margin-left: 0px;
               }
            }

            @media(max-width: 978px){
               width: 30%;
            }
            @media(max-width: 500px){
               width: 300px;
               margin: 10px auto;
            }
            .imgbox{
               width: 100%;
               height: auto;
               img{
                  width: 300px;
                  height: auto;
               }
            }
            h2{
               text-align: center;
               color: $black;
               text-transform: capitalize;
               margin-top: 11px;
               font-size: 50px;
               @media(max-width: 676px){
                  font-size: 30px;
               }
            }
         }
      }
   }
}

.main-container.aszf{
   p{
      padding: 0 20px;
   }
   a{
      p{
         color: white;
         &:hover{
            color: $orange;
         }
      }
   }
}





// ---------------------------------------
// index.php
// ---------------------------------------
section#pages{
   .main-container{
      max-width: 900px;
      width: 94%;
      margin: 0   auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 30px 0;
      .content-container{
         width: 100%;
         header{
            display: inline-block;
            h1{
               // display: inline-block;
            }
         }
         article{
            // width: 70%;
            margin: 0;
         }
         .sidebar-cont{
            width: 30%;
         }
      }
   }
}
div > header > h2 > a{
   color: black;
}
