// woocommerce cart
.dropdown-cart-button{
  font-weight: normal;
  min-height: 35px;
  border: none !important;
  text-align: left;
  padding: 0 0 0 20px;
  margin: 0;
  position: relative;
  z-index: 10 !important;
  overflow: visible;
  background: url('img/cart-icon-white.svg') no-repeat left center !important;
  display: inline-block;
     a{
        color: $orange !important;
    }

  .dropdown-total{
    display: block;
    line-height: 25px;
    padding: 5px 30px 5px 0;
    background: url('img/cart-arrow-white.svg') no-repeat center right 10px !important;
    outline: 0;
    @media (max-width: 500px){
      margin-right: 0px!important;
    }
  }

  .dropdown{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border: none !important;
    padding: 10px 6px 8px;
    width: 300px;

    &.dropdown-left{
      right: auto;
      left: -1px;
    }

    &.dropdown-right{
      right: -1px;
      left: auto;
    }

    &.drop-left{
      right: auto !important;
      left: -1px !important;
    }

    @media (min-width: 768px) {

      &.drop-bottom{
        top: auto !important;
        bottom: 0;
      }
    }

    .cart_list {
      font-size: 12px;
      padding: 0 0 8px 0;
      margin: 0;

      li {
        clear: both;
        min-height: 40px;
        margin: 0;
        padding: 4px 0px;
        border-bottom: 1px solid #ccc;
        list-style: none;
        position: relative;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &:after{
          content: '.';
          visibility: hidden;
          display: block;
          clear: both;
          height: 0;
        }
      }

      img{
        width: 40px;
        height: auto !important;
        min-width: 0;
        max-width: none;
        margin-right: 4px;
        float: left;
      }

      a{
        float: left;
        font-weight: normal !important;
        width: 75%;
        color: black;

        &.remove{
          display: none;
          border-radius: 0px;
          display: inline;
          width: 30px;
          color: red !important;
        }
      }

      .quantity{
        display: inline-block;
        width: 22%;
      }

      .variation{
        clear: left;
        float: left;
        width: 75%;
        dt,dd{
          display: inline-block !important;
          p{
            margin: 0;
          }
        }
      }
    }

    .total {
      clear: both;
      text-align: right;
      margin: 0;
      padding: 5px 0;
      color: black !important;
    }

    .buttons {
      text-align: right;
      margin: 0;
      padding: 5px 0;
      color: white !important;

      .button {
        margin-left: 4px;
        background-color: $green !important;
        border-color: $green !important;
        border-radius: 3px;
        color: white!important;
        padding: 5px 8px;
        a{
           color: white!important;
        }
      }
    }
  }
}
